{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "styles/mystyle.css" %}">
  <title>{% block title %}Filters{% endblock %}</title>

</head>
<body>


    <nav class="navbar navbar-dark navbar-expand-sm fixed-top sty-navbar">
        <div class="container">
            <a class="navbar-brand"><img src="{% static "/images/logo.png" %}" width="50px"/></a>
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Filters</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a> </li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>
        </div>
    </nav>
<div class="container">

    <h3>Please Upload Image or PDF: </h3>
    <div class="row">
      <div class="card">
      <div class="card-header">Input Image:</div>
      <canvas class="" id="canvas1">
      </canvas>
      </div>
    </div>
    {% block content %}
<form>
  <div class="form-row align-items-center">
    <div class="row form-group">
      <div>
        <div class="fileUpload">
          <label for="fgFile">Upload Image: </label>
          <input class="form-control-file" name="fgFile" type="file" multiple="false" accept="image/*" id="fgFile" onchange="fgUpload()">
        </div>
      </div>
    </div>
    </div>
</form>

<div>
  <input class="btn btn-dark" type="button" value="Detect" onclick="applyfilter()">
  <input class="btn btn-dark" type="button" value="Clear Canvases" onclick="clearCanvases()">
</div>
{% endblock %}
</div>
<!-- partial -->
<script  src="{% static "js/script.js" %}"></script>
<script  src="{% static "js/SimpleImage.js" %}"></script>

</body>
</html>
