{% extends 'index.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="form-control-file" multiple="false" accept="image/jpg,image/jpeg,image/png,application/pdf" id="fgFile" onchange="fgUpload()" type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    <p>Your file is of type: {{ doctype }}</p>
    <p>Detected text in your file is:</p>
    <textarea readonly> {{ text }} </textarea>
    <p>Detected entities in your text are:</p>
    <p>Persons: </p> <textarea readonly> {{ persons }} </textarea>
    <p>locations: </p> <textarea readonly> {{ locations }} </textarea>
    <p>organizations: </p> <textarea readonly> {{ organizations }} </textarea>
    <p>phone_numbers: </p> <textarea readonly> {{ phone_numbers }} </textarea>
    <p>dates: </p> <textarea readonly> {{ dates }} </textarea>
    <p>others: </p> <textarea readonly> {{ others }} </textarea>
  {% endif %}

{% endblock %}
