.sty-navbar {
  background-color: #222;
  height: 80px;
}

body {
  padding-top: 120px;
}

canvas {
  height:405px;
  width: 720px;
  border: 1px solid #c3c3c3;
  margin: 15px;
  margin-top: 30px;
  }

textarea {
  height: 35px;
  width: 720px;
}